@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Authentication

<div class="text-center">
    <h1 class="display-4">Welcome to Support</h1>
    <p>Learn about <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">our privacy policy</a></p>

    <p>Go to the <a class="nav-link text-dark" href="/store">store</a></p>
</div>

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims)
    {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await Context.AuthenticateAsync()).Properties.Items)
    {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>
