@{
    ViewData["Title"] = "Home Page";
}
<div >
    <h1 class="display-4 text-center">Welcome to the Store</h1>
    <div>Learn about <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">our privacy policy</a></div>

    <div>If you need it, get some <a href="/support">support</a></div>
</div>
